
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<form class="card p-2" (ngSubmit)="newDoctorEntry()" [formGroup]="doctorForm">
				<div class="mb-3">
					<label for="nombres" class="form-label">Nombre</label>
					<input type="text" class="form-control" id="nombres" aria-describedby="emailHelp"
						placeholder="Nombre del doctor" formControlName="nombres" ngModel>
				</div>
				<div class="mb-3">
					<label for="apellidos" class="form-label">Apellidos</label>
					<input type="text" class="form-control" id="apellidos" placeholder="Apellido del paciente"
						formControlName="apellidos" ngModel>
				</div>
				<div class="mb-3">
					<label for="telefono" class="form-label">Telefono</label>
					<input type="number" class="form-control" id="telefono" placeholder="Telefono"
						formControlName="telefono" ngModel>
				</div>
				<div class="mb-3">
					<label for="especialidad" class="form-label">Especialidad</label>
					<input type="text" class="form-control" id="especialidad" placeholder="Especialidad del doctor"
						formControlName="especialidad" ngModel>
				</div>
				<div class="mb-3">
					<label for="correo" class="form-label">Correo</label>
					<input type="text" class="form-control" id="Correo" placeholder="Correo del paciente"
						formControlName="correo" ngModel>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Contraseña</label>
					<input type="text" class="form-control" id="password" placeholder="contraseñadel paciente"
						formControlName="password" ngModel>
				</div>
				<div class="input-group justify-content-center md-12">
					<button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
				</div>

			</form>
		</div>
		<div class="modal-footer">
		</div>
	  </div>
	</div>
  </div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Agregar paciente</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="card p-2" (ngSubmit)="newPacienteEntry()" [formGroup]="pacientesForm">
					<div class="mb-3">
						<label for="nombres" class="form-label">Nombre</label>
						<input type="text" class="form-control" id="nombres" aria-describedby="emailHelp"
							placeholder="Nombre del paciente" formControlName="nombres" ngModel>
					</div>
					<div class="mb-3">
						<label for="apellidos" class="form-label">Apellidos</label>
						<input type="text" class="form-control" id="apellidos" placeholder="Apellido del paciente"
							formControlName="apellidos" ngModel>
					</div>
					<div class="mb-3">
						<label for="edad" class="form-label">Edad</label>
						<input type="number" class="form-control" id="edad" placeholder="Edad del paciente"
							formControlName="edad" ngModel>
					</div>
					<div class="mb-3">
						<label for="telefono" class="form-label">Telefono</label>
						<input type="number" class="form-control" id="telefono" placeholder="Telefono"
							formControlName="telefono" ngModel>
					</div>
					<div class="mb-3">
						<label for="historial" class="form-label">Historial</label>
						<input type="text" class="form-control" id="historial" placeholder="historial del paciente"
							formControlName="historial" ngModel>
					</div>
					<div class="mb-3">
						<label for="correo" class="form-label">Correo</label>
						<input type="text" class="form-control" id="Correo" placeholder="Correo del paciente"
							formControlName="correo" ngModel>
					</div>
					<div class="mb-3">
						<label for="password" class="form-label">Contraseña</label>
						<input type="text" class="form-control" id="password" placeholder="contraseñadel paciente"
							formControlName="password" ngModel>
					</div>
					<div class="input-group justify-content-center md-12">
						<button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
					</div>

				</form>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-10">
				<div class="">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
						Registrar paciente
					</button>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
						Launch demo modal
					  </button>
				</div>
				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th scope="col">Nombre</th>
								<th scope="col">Apellidos</th>
								<th scope="col">Edad</th>
								<th scope="col">Telefono</th>
								<th scrope="col">Historial</th>
								<th scrope="col">Correo</th>
								<th scrope="col">Contraseña</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of pacientesList">
								<td>{{item.nombres}}</td>
								<td>{{item.apellidos}}</td>
								<td>{{item.edad}}</td>
								<td>{{item.telefono}}</td>
								<td>{{item.historial}}</td>
								<td>{{item.correo}}</td>
								<td>{{item.password}}</td>
							</tr>
					</table>
				</div>

				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th scope="col">Nombre</th>
								<th scope="col">Apellidos</th>
								<th scope="col">Telefono</th>
								<th scope="col">Especialidad</th>
								<th scrope="col">Correo</th>
								<th scrope="col">Contraseña</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of doctorList">
								<td>{{item.nombres}}</td>
								<td>{{item.apellidos}}</td>
								<td>{{item.telefono}}</td>
								<td>{{item.especialidad}}</td>
								<td>{{item.correo}}</td>
								<td>{{item.password}}</td>
							</tr>
					</table>
				</div>

			</div>
		</div>

	</div>